<html>
<body style="background-color:grey;">
<div class = "container-fluid pb-5">
<%= simple_form_for @blog do |f| %>
  <%= f.input :name, label: 'Name : ', error: 'Name is mandatory, please specify' %><br>
  <%= f.input :subject,  label: 'Subject : ' %><br>
  <%= f.input :description, label: 'Description : ', placeholder: 'Max 100 words' %><br>
  <center><%= f.button :submit %>
<% end %>
</div>
</body>
</html>